[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Hirza-Tango/ft_printf
	master = master
[submodule "libft"]
	path = libft
	url = https://github.com/Hirza-Tango/libft
	master = master
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Hirza-Tango/get_next_line
	master = master
